body,html{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	/*overflow: hidden;*/
	background: linear-gradient(floralwhite,white);
}

/********************************header********************************/
header{
	height: 10%;
	width: 100%;
	background-color: #388FC5;	
	position: fixed;
	display: -webkit-box;
}
header div{
	-webkit-box-flex: 1;
	height: 100%;
	margin: 0 1.3%;
}
header div img{
	height: 100%;
}

/********************************navBox********************************/
section{
	height: 90%;
	width: 100%;
	position: fixed;
	top:10%;
}
#navBox{
	width: 15%;
	height: 100%;
	background: bisque;
}
details{
	border: none;
	font-size:1rem ;
	padding-top: 0.5rem;
	font-family: "楷体";
	width: 100%;
}
details:hover{
	cursor:pointer;
}
.list{
	list-style: none;
	margin: 0 auto;
	padding: 0px;
}
.list li{
	margin: 0.5rem 10%;
	font-family: "楷体";
	font-size: 0.8rem;
	width: 80%;
	text-align: center;
	border-bottom: 1px solid #FFF;
	white-space:nowrap; 
	overflow:hidden;
	text-overflow:ellipsis;
}
.list li:hover{
	cursor:pointer;
	color:lightskyblue;
}
.lightskyblue{
	color:lightskyblue;
}
/********************************contentBox********************************/
#contentBox{
	position: fixed;
	top:10%;
	left: 15%;
	width: 85%;
	height: 100%;
}

/********************************typeNav********************************/
#typeNav{
	width: 100%;
	height: 10%;
	position: absolute;
	top: 0rem;
	background-color: lightyellow;
}
#typeNav div{
	margin: 0.5rem 1rem;
}
#typeNav span{
	font-weight: bolder;
	font-size: 1.2rem;
}
#typeNav button{
	width:4rem;
	height:1rem;
	line-height:0.95rem;
	font-size:0.5rem;
	border-color:white;
	border-radius:0.1rem;
}
#typeNav button:hover{
	cursor:pointer;
}
/********************************content********************************/
#content{
	height: 73%;
	width: 100%;
	overflow: auto;
	position: absolute;
	top:10%;
	/*box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem gray;*/
}
table{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 0px;
}
table thead{
	font-weight: bolder;
	font-size: 0.8rem;
	font-family: "楷体";
	border-bottom: 0.1rem solid #CCC;	
}
table tbody tr{
	font-size: 0.6rem;
	height: 1rem;
}
table tbody tr:nth-child(odd){
	background: white;
}
table tbody tr:nth-child(even){
	background: #eee;
}
.green{
	color: green;
}
.red{
	color: red;
}
.yellow{
	color:#EEB422;
}
/********************************pageNav********************************/
#pageNav{
	width: 100%;
	height: 8%;
	position: absolute;
	bottom: 8%;
	background-color: white;
	text-align: center;
	border-top: 0.05rem solid #CCC;
}
#pageNav button{
	width: 3rem;
	height: 0.8rem;
	margin: 0.1rem 0.5rem;
	font-size:0.2rem;
}
#pageNav span{
	margin: 0.1rem 0.5rem;
	height0.8rem;
	font-size:0.5rem;
	line-height:0.8rem;
}
